.centerhead
    {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    }
.para
    {
    font-family: Arial, Helvetica, sans-serif;
    }
.background{background-color:rgb(243, 245, 250)}

.background2{background-color:rgb(255, 243, 228)}


